Repository iqlusioninc/cosmos-sdk, pull requests merged in 2023-07, with the labels that each got.

#18 LSM Distribution
  docs/core/proto-docs.md
  proto/cosmos/distribution/v1beta1/distribution.proto
  proto/cosmos/distribution/v1beta1/query.proto
  proto/cosmos/distribution/v1beta1/tx.proto
  proto/cosmos/staking/v1beta1/query.proto
  proto/cosmos/staking/v1beta1/staking.proto
  simapp/params/weights.go
  x/distribution/client/cli/query.go
  x/distribution/client/cli/tx.go
  x/distribution/client/testutil/suite.go
  x/distribution/handler.go
  x/distribution/handler_test.go
  x/distribution/keeper/delegation_test.go
  x/distribution/keeper/grpc_query.go
  x/distribution/keeper/grpc_query_test.go
  x/distribution/keeper/keeper.go
  x/distribution/keeper/msg_server.go
  x/distribution/proposal_handler_test.go
  x/distribution/simulation/operations.go
  x/distribution/simulation/operations_test.go
  x/distribution/types/codec.go
  x/distribution/types/distribution.pb.go
  x/distribution/types/errors.go
  x/distribution/types/events.go
  x/distribution/types/expected_keepers.go
  x/distribution/types/msg.go
  x/distribution/types/query.pb.go
  x/distribution/types/query.pb.gw.go
  x/distribution/types/tx.pb.go
  x/staking/types/query.pb.go
  x/staking/types/query.pb.gw.go
  x/staking/types/staking.pb.go
Labels: C:x/staking, C:x/distribution, C:Simulations, C:CLI

#20 changed slashed token calculation
  x/staking/keeper/slash.go
Labels: C:x/staking

#21 test: handle liquid staked coins in sim; update sim ops
  types/simulation/account.go
  x/staking/simulation/operations.go
Labels: C:x/staking, C:Simulations

#19 Handle precision error case in tokenize shares and change shareToken to map 1:1 with shares
  docs/architecture/adr-061-liquid-staking.md
  x/staking/keeper/msg_server.go
  x/staking/keeper/msg_server_test.go
Labels: C:x/staking, Type: ADR
